/* 通配符选择器 代表全部 */
*{
    /* 外边距 */
    margin: 0;
    /* 内边距 */
    padding: 0;
}
li{
    /* 清除li自带样式 */
    list-style: none;
}
a{
    /* 清除下划线 */
    text-decoration: none;
}
body{
    background-color: #F1F1F4;
    padding: 45px 0 52px;
}
/* 头部 */
/* 类名选择器 */
.header{
    /* 高度 */
    height: 45px;
    /* 背景颜色 */
    background-color: #1C6DC0;
    /* 固定定位 */
    position: fixed;
    top: 0;
    width: 100%;
    /* 层级 */
    z-index: 1;
}
.header p{
    /* 字体颜色 #fff代表白色 */
    color: #fff;
    /* 文本水平居中 */
    text-align: center;
    /* 行高 */
    line-height: 45px;
    /* 字体大小 */
    font-size: 18px;
}

/* 底部 */
.btm{
    background-color: #000;
    padding: 5px 0 8px;
    /* 固定定位 */
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.btm ul{
    overflow: hidden;
}
.btm li{
    width: 20%;
    float: left;
}
.btm li a{
    display: block;
    text-align: center;
}
.btm li img{
    height: 19px;
}.btm li p{
    font-size: 12px;
    color: #fff;
}